:root {
    --base: #d6b9ce;
    --spacing: 10px;
    --blur: 20px;
  }

  img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 800px;
    height: 500px;
  }

  .hl {
    color: var(--base);
  }

  h2 {
    background-color: rgb(148, 140, 221);
  }
  /*
    misc styles, nothing to do with CSS variables
  */
  body {
    text-align: center;
    background: url("media/backdrop.jpg");
    background-size: cover;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }